
module my-mysqld 1.0;

require {
	type user_home_t;
	type container_t;
	class dir write;
}

#============= container_t ==============
allow container_t user_home_t:dir write;
